#cards {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1rem;
}

.card img {
  height: 400px;
  width: 350px;
}

figcaption {
  font-style: italic;
  color: rgb(127, 127, 127);
}