#cards {
  /* Flex, space-around, 2rem, wrap */

}

.card {
  max-width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;

  /* Centered Flex Column, gap 1rem */
  
}

.card img {
  height: 400px;
  width: 350px;
}

figcaption {
  font-style: italic;
  color: rgb(127, 127, 127);
}