.box {
  height: 200px;
  border: 1px solid lightgrey;

  background: lightskyblue;
  color: black;
  font-size: 2rem;
}

.container {
  background: coral;
  padding: 1rem;

  display: grid;
  gap: 1rem;
}

/* Apply these styles for screens at least 500 pixels wide */
@media (min-width: 600px) {
  .box {
    background: plum;
  }
}
@media (min-width: 700px) {
  .box {
    background: orchid;
  }
}
@media (min-width: 800px) {
  .box {
    background: mediumpurple;
    color: white; /* Notice how screen sizes larger than this will ALL have white text */
  }
}
@media (min-width: 900px) {
  .box {
    background: darkviolet;
  }
}
@media (min-width: 1000px) {
  .box {
    background: indigo;
  }
}

