* {
  box-sizing: border-box;
}

body { padding: 2rem; }
div { border-radius: 10px;}

.grid-item:nth-child(1) { background: lightcoral; }
.grid-item:nth-child(2) { background: lightsalmon; }
.grid-item:nth-child(3) { background: lightgoldenrodyellow }
.grid-item:nth-child(4) { background: yellowgreen; }
.grid-item:nth-child(5) { background: lightskyblue; }

.grid-item {
  border: 1px solid black;
  min-height: 150px;
  padding: 0.25em;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  background: lightgrey;
  padding: 1em; 
  
  /* Add Grid Props Here*/
  display: grid;
  gap: 1rem;
}

/* Add your media queries here */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-item:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  .grid-item:nth-child(4) {
    grid-row: 4;
    grid-column: 1 / 3;
  }
  .grid-item:nth-child(5) {
    grid-row: 2 / 4;
    grid-column: 2;
  }
}
